.overlay{
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
}

.task-details{
    display: block;
    position: fixed;
    top: 2.5vh;
    left: 2.5vw;
    width: 95vw;
    height: 95vh;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    margin: auto;
}

.labelStatus.active{
    border: 2px solid rgb(42, 42, 252);
}



@media (min-width: 1024px){
    .task-details{
        width: 600px;
        left: unset;
        bottom: 2.5vh;
        right: 2.5vw;
    }
}

