.overlay.active{
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
}

.task-details.active{
    display: block;
    position: fixed;
    top: 2.5vh;
    left: 2.5vw;
    width: 95vw;
    height: 95vh;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    margin: auto;
}

.task-details{
    display: none;
}

@media (min-width: 1024px){
    .task-details.active{
        width: 700px;
        left: unset;
        bottom: 2.5vh;
        right: 2.5vw;
    }
}

